nav ul {
  width: 100px;
  border-right: var(--line);
  display: flex;
  flex-direction: column;

  li:last {
    margin-top: auto;
  }
}
#app-container {
  width: 100%;
  display: flex;
  min-height: 100%;
  justify-content: stretch;
}

main {
  flex: 1;
  overflow: hidden;
}