.screenstats-line {
  display: flex;
  flex-direction: column;
  border-bottom: var(--line);
}
.line-header {
  display: flex;
  align-items: stretch;
  width: 100%;
  padding: 4px 16px;
  cursor: pointer;
  &:hover {
    background-color: var(--line-grey);
  }
}

.screenstats-stat {
  margin: 0 4px;
  display: inline-block;
  text-align: right;
  width: 88px;
}
.line-title {
  margin-right: 8px;
  width: 164px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.link-to-screen {
  padding: 2px 4px;
  text-decoration: underline;
  font-size: .875rem;
  color:var(--light-grey);
  cursor: pointer;
  &:hover {
    color:var(--dark-grey);
  }
}

.line-header-section {
  &:last-of-type {
    margin-left: auto;
  }
}