button {
  background-color: white;
  width: 100%;
  border: none;
  text-align: left;
  border-bottom: var(--line);
  padding: 8px;
  &:hover {
    background-color: var(--line-grey);
  }
}

.progressBar {
  width: 100%;
  height: 9px;
  border-radius: 2px;
  margin-bottom: 6px;
  background-color: var(--line-grey);
  overflow: hidden;

  .progression {
    height: 100%;
  }
}