.lint-container {
  padding: 8px 0;
  margin: 0 16px;
  border-bottom: var(--line);
  &:last-child {
    border-bottom: none;
  }
}

.lint-title {
  cursor: pointer;
  &:hover {
    background-color: var(--line-grey);
  }
}

.link-to-element {
  padding: 0;
  border: none;
  text-decoration: underline;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.lint-ul {
  list-style: none;
  columns: 3;
  column-gap: 16px;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 0;
}